<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Magic 8 Ball Knows All</title>
	<link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css">
	<style type="text/css">
		.row-centered {
		    text-align:center;
		}
		.col-centered {
		    display:inline-block;
		    float:none;
		    text-align:left;
		    margin-right:-4px;
		}
		p i {
			background:#18bc9c; 
			color: white;
			padding:0 10px;
		}
	</style>
	<script src="https://unpkg.com/vue@2.2.6"></script>
	<!-- for restful calls -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.17.4/lodash.min.js"></script>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="row row-centered">
				<div class="col-xs-6 col-centered text-center">
					<h1>Ask a Yes/No Question:</h1>
					<p>Remember: questions end with a <i>?</i></p>
					<form>
						<div class="form-group">

							<input type="text" v-model="question" class="form-control">
						</div>
					</form>
					<br>
					<h2>{{answer}}</h2>
					<img v-bind:src="image" class="img-responsive" />
					<!-- <input type="submit" v-model="submit" name=""> -->
				</div>
			</div>
		</div>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				question: '',
				answer: '',
				image: ''
			},
			watch: {
				question: function(newQuestion) {
					this.answer = 'waiting for you to stop typing';
					this.getAnswer();
				}
			},
			methods: {
				getAnswer: _.debounce(
					function() {
						let vm = this;
						if(this.question.indexOf('?') === -1) {
							vm.answer = 'Please end with a question mark ?';
							return;
						}
						vm.answer = 'Thinking...';
						axios.get('https://yesno.wtf/api') 
						.then(function(response) {
							vm.answer = _.capitalize(response.data.answer);
							vm.image = response.data.image;
						})
						.catch(function(err) {
							vm.answer = 'Error:'+" "+err;
						})
					}, 500
				)
			}		
		});
	</script>
</body>
</html>